{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Campaign Infomation</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 55px">
                    <strong style="font-weight: bold;line-height:30px">Infomation</strong>


                    <a href="{{ url_for('dashboard.campaign')}}" class="btn btn-info"
                       style="margin-left: 10px; float: right"><span
                            class="glyphicon glyphicon-align-left"></span> List Campaigns</a>

                    <a class="btn btn-primary btn-default" style="margin-left: 10px; float: right"
                       href="{{ url_for('dashboard.campaign_add')}}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Add Campaign
                    </a>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="margin-right: 20px">Active: </label>
                                <input name="active" type="checkbox"
                                       {% if data.data['is_active']==1%}
                                checked
                                {% endif %}
                                value="{{ data.data['is_active'] }}" >

                            </div>
                        </div>

                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Campaign Name</label>
                                <input class="form-control" placeholder="Enter campaign name"
                                       name="campaign_name" value="{{data.data['campaign_name']}}" required>
                            </div>

                            <div class="form-group">
                                <label>Start At</label>
                                <input class="form-control" name="campaign_start_at" type="datetime-local"
                                       value="{{data.start_str}}" required>
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                        <textarea class="form-control" rows="3" name="campaign_description"
                                                  required>{{data.data['description']}}</textarea>
                            </div>

                            <div class="form-group">
                                <label>Note</label>
                                <textarea class="form-control" rows="3"
                                          name="campaign_note">{{data.data['note']}}</textarea>
                            </div>

                            <div class="form-group">
                                <label>Share Link</label>
                                <input class="form-control" name="campaign_share_link"
                                       placeholder="Enter share link"
                                       value="{{data.data['share_link']}}" required>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label>Campaign Code</label>
                                <input class="form-control" name="campaign_code"
                                       placeholder="Enter campaign code"
                                       value="{{data.data['campaign_code']}}" required>
                            </div>

                            <div class="form-group">
                                <label>End At</label>
                                <input class="form-control" name="campaign_end_at"
                                       value="{{data.end_str}}" required type="datetime-local">
                            </div>

                            <div class="form-group">
                                <label>Content</label>
                                        <textarea class="form-control" rows="3" name="campaign_content"
                                                  required>{{data.data['content']}}</textarea>
                            </div>

                            <div class="form-group">
                                <label>Share message</label>
                                        <textarea class="form-control" rows="3" name="campaign_share_message"
                                                  required>{{data.data['share_message']}}</textarea>
                            </div>

                            <div class="form-group">
                                <label>Short Link</label>
                                <input class="form-control" name="campaign_short_link"
                                       placeholder="Enter short link"
                                       value="{{data.data['short_link']}}">
                            </div>

                        </div>


                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Conditions
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Detail</label>
                                        <textarea class="form-control" rows="3" name="campaign_condition"
                                                  required>{{data.data['condition']}}</textarea>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Ad Type: </label>
                                {% for item in data.ad_type %}
                                <label class="radio-inline">
                                    <input type="checkbox"
                                           {% for i in data.conditions['ad_type'] %}
                                    {%if i == item['value'] or i =='all' %}
                                    checked
                                    {% endif %}
                                    {% endfor %}
                                    onchange="checkboxgroup()" name="ad_type" value="{{item['value']}}">
                                    {{item['name']}}
                                </label>
                                {%endfor%}
                                <input type="hidden" value="" id="ad_type_hidden" name="ad_type_hidden">
                                <!--<label class="radio-inline">-->
                                <!--<input type="checkbox" value="all" name="ad_type" onchange="checkboxgroup()"> All-->
                                <!--</label>-->

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Total Limit: </label>
                                <label class="radio-inline">
                                    <input type="radio" checked="" value="0" id="condition_total_limit_flag1"
                                           {% if data.conditions['limit_total'] ==-1 %}
                                    checked
                                    {% endif %}
                                    onchange="totallimitaction()"
                                    name="condition_total_limit_flag">Un-limit
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" id="condition_total_limit_flag2"
                                           {% if data.conditions['limit_total'] !=-1 %}
                                    checked
                                    {% endif %}
                                    name="condition_total_limit_flag" onchange="totallimitaction()">Limit
                                </label>
                                <input placeholder="Enter number of limit" name="total_limit"
                                       value="{{ data.conditions['limit_total'] }}"
                                       id="condition_total_limit"
                                       style="border-radius: 4px; border: 1px solid #ccc; background-image: none;
                                               margin-left: 10px; padding: 5px; width:135px"
                                       {% if data.conditions['limit_redeem'] ==-1 %}
                                disabled
                                {% endif %}>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Type: </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" id="condition_ad_type1"
                                           {% if data.conditions['is_private'] ==1 %}
                                    checked
                                    {% endif %}
                                    name="condition_ad_type">Pri
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="0" id="condition_ad_type2"
                                           {% if data.conditions['is_private'] ==0 %}
                                    checked
                                    {% endif %}
                                    name="condition_ad_type">Pro
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="-1" id="condition_ad_type3"
                                           {% if data.conditions['is_private'] ==-1 %}
                                    checked
                                    {% endif %}

                                    name="condition_ad_type">All
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Limit Redeem: </label>
                                <label class="radio-inline">
                                    <input type="radio" checked="" value="0" id="condition_limit_flag1"
                                           {% if data.conditions['limit_redeem'] ==-1 %}
                                    checked
                                    {% endif %}
                                    onchange="limitaction()"
                                    name="condition_limit_flag">Un-limit
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" id="condition_limit_flag2"
                                           {% if data.conditions['limit_redeem'] !=-1 %}
                                    checked
                                    {% endif %}
                                    name="condition_limit_flag" onchange="limitaction()">Limit
                                </label>
                                <input placeholder="Enter number of limit" name="condition_limit"
                                       value="{{ data.conditions['limit_redeem'] }}"
                                       id="condition_limit"
                                       style="border-radius: 4px; border: 1px solid #ccc; background-image: none;
                                               margin-left: 10px; padding: 5px; width:135px"
                                       {% if data.conditions['limit_redeem'] ==-1 %}
                                disabled
                                {% endif %}>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Number of Public: </label>
                                <input class="form-control" name="condition_num_public"
                                       placeholder="Number of Public"
                                       value="{{ data.conditions['num_of_public'] }}" required>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Number of Hide: </label>
                                <input class="form-control" name="condition_num_hide"
                                       placeholder="Number of Hide"
                                       value="{{ data.conditions['num_of_hide'] }}" required>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Number of Refuse: </label>
                                <input class="form-control" name="condition_num_refuse"
                                       placeholder="Number of Refuse"
                                       value="{{ data.conditions['num_of_refuse'] }}" required>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="margin-right: 20px">Number of Review: </label>
                                <input class="form-control" name="condition_num_review"
                                       placeholder="Number of Review"
                                       value="{{ data.conditions['num_of_review'] }}" required>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="margin-right: 20px">Number of Total: </label>
                                <input class="form-control" name="condition_num_total"
                                       placeholder="Number of Total"
                                       value="{{ data.conditions['num_of_total'] }}" required>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label style="margin-right: 20px">Limit Device:</label>
                                <label class="radio-inline">
                                    <input type="radio" checked="" value="0" id="condition_limit_device_flag1"
                                           {% if data.conditions['limit_device'] =="-1" %}
                                    checked
                                    {% endif %}
                                    onchange="limitdeviceaction()"
                                    name="condition_limit_flag">Un-limit
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" id="condition_limit_device_flag2"
                                           {% if data.conditions['limit_device'] !=-1 %}
                                    checked
                                    {% endif %}
                                    name="condition_limit_flag" onchange="limitdeviceaction()">Limit
                                </label>
                                <input placeholder="Enter number of limit" name="condition_limit_device"
                                       value="{{ data.conditions['limit_device'] }}"
                                       id="condition_limit_device"
                                       style="border-radius: 4px; border: 1px solid #ccc; background-image: none;
                                               margin-left: 10px; padding: 5px; width:135px"
                                       {% if data.conditions['limit_redeem'] ==-1 %}
                                disabled
                                {% endif %}>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <span style="font-weight: bold;">Note</span>: <span
                                    style="font-style: italic; color: red">"-1" is access all.</span>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

        <div class="col-lg-12" style="text-align: center; margin-bottom: 100px">
            <button type="submit" class="btn btn-primary">Update Campaign</button>
            <button type="reset" class="btn btn-warning">Reset Form</button>
        </div>


    </div>
</form>
</div>
<style>
    .lable {
        margin-right: 20px !important;
    }
</style>
<script>
    function checkboxgroup() {
        var selectedGroups = new Array();
        $("input[name='ad_type']:checked").each(function () {
            selectedGroups.push($(this).val());
        });
        $("#ad_type_hidden").val(selectedGroups)

    }
</script>
<script>
    function limitaction() {
        if ($('#condition_limit_flag1').is(':checked')) {
            $("#condition_limit").prop('disabled', true);
            $("#condition_limit").val(-1);
        } else {
            $("#condition_limit").prop('disabled', false);
            $("#condition_limit").val("{{ data.conditions['limit_redeem'] }}");
        }
    }
    function limitdeviceaction() {
        if ($('#condition_limit_device_flag1').is(':checked')) {
            $("#condition_limit_device").prop('disabled', true);
            $("#condition_limit_device").val(-1);
        } else {
            $("#condition_limit_device").prop('disabled', false);
            $("#condition_limit_device").val("{{ data.conditions['limit_device'] }}");
        }
    }
    function totallimitaction() {
        if ($('#condition_total_limit_flag1').is(':checked')) {
            $("#condition_total_limit").prop('disabled', true);
            $("#condition_total_limit").val(-1);
        } else {
            $("#condition_total_limit").prop('disabled', false);
            $("#condition_total_limit").val("{{ data.conditions['limit_total'] }}");
        }
    }
</script>
{%endblock%}